body {
    background: rgb(94, 162, 218);
    font-family: VT323;

}

div.out {
    background: black;
    width: 300px;
    height: 300px;
    border: 50px solid #2B7A0B;
    margin-left: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: out 3s infinite forwards;
}

@keyframes out {
    0% { border-color: #2B7A0B; transform: matrix(1); }
    15% { border-color: #5BB318; transform: matrix(1.1); }
    30% { border-color: #7DCE13; transform: matrix(1.2); }
    45% { border-color: #EAE509; transform: matrix(1.3); }
    60% { border-color: #7DCE13; transform: matrix(1.2); }
    85% { border-color: #5BB318; transform: matrix(1.1); }
    100% { border-color: #2B7A0B; transform: matrix(1); }
}

div.in {
    width: 100px;
    height: 100px;
    border: 65px solid #5BB318;
    border-radius:15%;
    position: absolute;
    animation: in 3s infinite ease-in-out alternate-reverse;
}

@keyframes in {
    0% { transform: rotate(0deg) }
    15% { border-color: #5BB318; border-width: 10px; }
    30% { border-color: #7DCE13; border-width: 30px; }
    45% { border-color: #EAE509; border-width: 50px; }
    60% { border-color: #7DCE13; border-width: -30px; }
    85% { border-color: #5BB318; border-width: -10px; }
    100% { transform: rotate(360deg); }
}

div.transition {
    background: black;
    width: 300px;
    height: 300px;
    border: 50px solid gold;
    border-radius: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;

}

h1 {
    color: gold;
    font-size: 250px;
    font-family: 'Times New Roman', Times, serif;
    animation: h1 2s infinite;
}

@keyframes h1 {
    0% { transform: scale(1);}
    25% { transform: scale(1.3) }
    50% { transofm: scale(1.6) }
    76% { transform: scale(1.3) }
    100% { transform: scale(1) }
}

.transition:hover {
    transform: translateY(-400px);
}

h2 {
    font-size: 25px;
    margin: -15% auto;
    margin-left: 42%;
}